HOST=0.0.0.0
PORT=3000
DATABASE_URL=postgresql://postgres:dKuNIi3n52lSS.....5432/pasteurpods_db
NEXT_PUBLIC_SITE_URL=https://pasteur.plus
SESSION_SECRET=l13ZLsPqTyrv5H.....
DEV_OTP_PHONE=09126...5
DEV_OTP_CODE=00000
NODE_ENV=production
ZOHAL_TOKEN=391fe5e75906...
ZOHAL_BASE_URL=https://service.z...
SMS_USERNAME=psp-pasto...
SMS_API_KEY=4cbcfcee-3297-4e...
SMS_BASE_URL=https://rest.pa...
SMS_OTP_BODY_ID=51...
SMS_REMINDER_24H_BODY_ID=514..
SMS_REMINDER_2H_BODY_ID=514..
SMS_BOOKING_BODY_ID=5144..
SMS_INSTALLMENT_DUE_BODY_ID=525..
SMS_INSTALLMENT_OVERDUE_BODY_ID=5254..
CRON_SECRET=j9Bac54SQ3LMfArqH02V...
UPLOAD_DIR=/app/publ...
ZIBAL_MERCHANT_ID=6a7c06752e...
ZIBAL_SANDBOX=false